doctype html
html
  head  
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
    title #{pageTitle} | #{siteName}
  body
    include ../partials/header
    main  
      // 여기에 block을 적지 않으면 다른 페이지 모두 안됨. 레이아웃에 block을 추가해야 페이지의 내용들이 채워짐.
      block content
    include ../partials/footer 